{% extends 'temp.html.twig' %}

{% block contenu %}
    <div class="example-wrapper">
        <h2 style="color: #080044; font-weight: bold;">Bienvenue sur la page d'accueil de Prostage</h2>
        <h5>Ce site vous permet de trouver un stage en filtrant selon les catégories de votre choix</h5>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <td style="font-weight: bold;">TITRE</td>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <td style="font-weight: bold;">MISSION</td>
                        </div>
                    </div>
                </tr>
            </thead>

            {% for stageCourant in stages %}
                <tbody>
                    <tr>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <td><a href="{{path('prostage_stages', {id:stageCourant.id})}}">{{ stageCourant.titre }}</a></td> 
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <td>{{ stageCourant.descMission }}</td>
                            </div>
                        </div>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}