{% extends 'temp.html.twig' %}
{% block body %}
<link rel="stylesheet" href="../styleTemplate.css">
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ id_stage }} </h1>
{% endblock %}