<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styleTemplate.css">
    {% block title %}
    <table width=100%>
    <tbody>
        <tr>
            <td>
                <a href="http://127.0.0.1:8000/accueil"> <span> Accueil </span> </a>
            </td>
            <td>
                <a href="http://127.0.0.1:8000/formations"> <span> Choisir une formation </span>  </a>
            </td>
            <td>
                <a href="http://127.0.0.1:8000/entreprises"> <span> Choisir une entreprise </span> </a>
            </td>

        </tr>
    </tbody>
    </table>
    {% endblock %}
    {% block body %} 
    
    {% endblock %}
    {% block footer %}

    {% endblock %}
</html>